.card-container{
      width: 40%;
      margin: 0 auto;
      box-shadow: 0px 0px 10px -5px;
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      
      .card-image{
            overflow: hidden;
            width: 60%px;
            height: 100%;
            margin: 0 auto;
      }

      .card-content{
            margin: 1rem;
            margin-top: 0,5rem;

            .card-username{
                  font-size: 1.2rem;
                  font-weight: bold;
            }

      }
}
