.navbar{
      background-color: white;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: row;


      img{
            width: 20px;
            margin: 10px;
      }
      
}